<!doctype html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no"/>
    <meta name="renderer" content="webkit"/>
    <meta name="force-rendering" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

    {{/*    <link rel="stylesheet" href="/css/mdui.css"/>*/}}
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/mdui@1.0.1/dist/css/mdui.min.css"
            integrity="sha384-cLRrMq39HOZdvE0j6yBojO4+1PrHfB7a9l5qLcmRm/fiWXYY+CndJPmyu5FV/9Tw"
            crossorigin="anonymous"
    />
    <style>
        html, body{
            height: 100%;

        }
        .text-auto-wrap {
            word-break:normal;
            width:auto;
            display:block;
            /*white-space:pre-wrap;*/
            word-wrap : break-word ;
            overflow: hidden ;
            white-space:normal
            /*word-wrap:break-word*/
        }
    </style>
    <title>{{.siteName}}</title>
</head>

<body >
<div class="mdui-appbar">
    <div class="mdui-toolbar mdui-color-theme">
        <img src="/assets/AndexLogo_512.png" style="width: 48px;margin-left: 5px;margin-right: 5px;">
        <a href="javascript:;" class="mdui-typo-headline" onclick="gotoDir('/')">{{.siteName}}</a>
        <a href="javascript:;" class="mdui-typo-title"></a>
        <div class="mdui-toolbar-spacer"></div>

        <div><p>管理后台</p></div>
        <a  class="mdui-btn mdui-btn-icon"
            mdui-menu="{target: '#menu-admin-setting',position: 'bottom',covered:true,subMenuDelay:50}">
            <i class="mdui-icon material-icons mdui-color-theme-accent">
                settings
            </i>
        </a>
        <ul class="mdui-menu" id="menu-admin-setting">
            <li class="mdui-menu-item">
                <a href="javascript:logout();" class="mdui-ripple">退出登录</a>
            </li>
        </ul>
    </div>
</div>

<div class="mdui-container" style="min-height: calc(100vh - 200px);">

    <div class="mdui-card mdui-m-t-4">
        <div class="mdui-card-actions mdui-card-actions-stacked mdui-m-t-1 mdui-m-b-1">

            {{range $i, $navPath := .navPathList}}
                {{if not $navPath.Last}}
                    <div class="mdui-chip" onclick="gotoDir('{{$navPath.Path}}')">
                        <span class="mdui-chip-title">{{$navPath.Name}}</span>
                    </div>
                    <span>/</span>
                {{else}}
                    <div class="mdui-chip mdui-color-blue mdui-text-color-white"  onclick="gotoDir('{{$navPath.Path}}')">
                        <span class="mdui-chip-title">{{$navPath.Name}}</span>
                    </div>
                {{end}}
            {{end}}
        </div>
    </div>

    <div class="mdui-m-y-2 ">
        <table class="mdui-table mdui-table-hoverable">
            <thead>
            <tr>
                <th>名称</th>
                <th class="mdui-hidden-sm-down">创建</th>
                <th class="mdui-hidden-sm-down">更新</th>
                <th>大小</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {{range $i, $detail := .pathDetail}}

                <tr data-href="{{$detail.Path}}" data-type="{{$detail.Type}}">
                    <td  onclick="gotoDir('{{$detail.Path}}')">
                        <p style="word-break:break-all;
                            width:auto;
                            display:block;
                            word-wrap : break-word ;
                            overflow: hidden ;
                            white-space:normal">


                            {{if $detail.HadPassword }}
                            <i class="mdui-icon material-icons mdui-m-r-1">lock</i>
                            {{else}}

                            {{if eq $detail.Type "folder"}}
                            <i class="mdui-icon material-icons mdui-m-r-1">folder</i>
                            {{else}}
                            <i class="mdui-icon material-icons mdui-m-r-1">insert_drive_file</i>
                            {{end}}


                            {{end}}

                            {{$detail.Name}}


                        </p>
                    </td>
                    <td  onclick="gotoDir('{{$detail.Path}}')" class="mdui-hidden-sm-down" style="width: 15%;">{{$detail.CreateTime}}</td>
                    <td  onclick="gotoDir('{{$detail.Path}}')" class="mdui-hidden-sm-down" style="width: 15%;">{{$detail.UpdateTime}}</td>
                    <td  onclick="gotoDir('{{$detail.Path}}')" style="width: 5%;">{{$detail.Size}}</td>

                    <td style="width: 10%">
                        <i class="mdui-icon material-icons mdui-color-theme-accent"
                           mdui-menu="{target: '#menu-{{$i}}',position: 'bottom',covered:true,subMenuDelay:50}">
                            more_vert
                        </i>
                        <ul class="mdui-menu" id="menu-{{$i}}">
                            {{if $detail.HadPassword }}
                            <li class="mdui-menu-item">
                                <a href="javascript:removePassword('{{$detail.Path}}');" class="mdui-ripple">移除密码</a>
                            </li>
                            {{else}}
                            <li class="mdui-menu-item">
                                <a href="javascript:setPassword('{{$detail.Path}}');" class="mdui-ripple">设置密码</a>
                            </li>
                            {{end}}

                        </ul>
                    </td>
                </tr>

            {{end}}

            </tbody>
        </table>

    </div>

    {{if .hasReadme}}
    {{/*   只在有 readme 的时候才添加这些内容     */}}
    <div class="mdui-card mdui-m-t-2 mdui-p-a-3" id="markdown">
        <div class="mdui-spinner mdui-center mdui-m-a-2 mdui-spinner-colorful" id="spinner"></div>
    </div>
    {{end}}
</div>

<div class="doc-footer-nav mdui-color-white mdui-p-t-2 mdui-p-b-1" style="height: 40px">
    <div class="mdui-center mdui-text-center ">
        <p class="mdui-center" style="font-size: 14px;">
            Power by <a href="https://github.com/Ericwyn/Andex" style="font-weight: bold;">Andex</a>
            {{.andexVersion}}<span class="mdui-m-x-1">|</span>数据请求: {{.apiRequestTime}}
        </p>
    </div>
</div>


</body>
{{/*<script type="text/javascript" src="/js/mdui.js"></script>*/}}
<script
        src="https://cdn.jsdelivr.net/npm/mdui@1.0.1/dist/js/mdui.min.js"
        integrity="sha384-gCMZcshYKOGRX9r6wbDrvF+TcCCswSHFucUzUPwka+Gr+uHgjlYvkABr95TCOz3A"
        crossorigin="anonymous"
></script>
<script type="text/javascript" src="/js/andex.js"></script>

{{if .hasReadme}}
{{/*   只在有 readme 的时候才添加这些内容     */}}
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script>
    let markdown={{.readme}}
    let markdownHtml = marked(markdown);
    document.getElementById("spinner").style.visibility = 'none'
    document.getElementById("markdown").innerHTML = markdownHtml;
</script>
{{end}}

<!--管理员页面 js -->
<script>

    let windowsLocation = window.location;
    function refreshPage(){
        windowsLocation.reload()
    }

    function logout(){
        // TODO
        AJAX({
            url: "adminLogout",
            method: AJAX_METHOD.POST,
            success: function (res){
                let resJson = JSON.parse(res)
                console.log(resJson)
                if (resJson.code !== "1000") {
                    mdui.alert(resJson.msg);
                } else {
                    window.location.reload();
                }
            },
            fail: function (){
                mdui.alert("管理员密码错误");
            }
        })
    }

    function setPassword(path){
        mdui.dialog({
            title: '设置访问密码',
            content: `
                    <div class="">请输入该路径访问密码，该路径及其所有子路径都会被加密</div>
                    <div class="mdui-textfield">
                        <input autocomplete="off" class="mdui-textfield-input" id="path_pw" type="text" placeholder="请输入访问密码"/>
                    </div>
                `,
            buttons: [
                {
                    text: '取消'
                },
                {
                    text: '确认',
                    onClick: function(){
                        AJAX({
                            url: "setPassword",
                            method: AJAX_METHOD.POST,
                            json: {
                                path:path,
                                password: document.getElementById("path_pw").value,
                            },
                            success: function (res){
                                let resJson = JSON.parse(res)
                                console.log(resJson)
                                if (resJson.code !== "1000") {
                                    mdui.alert(resJson.msg);
                                } else {
                                    // mdui.alert("密码设置成功", function () {
                                    //     refreshPage();
                                    // })
                                    refreshPage()
                                }
                            },
                            fail: function (){
                                mdui.alert("管理员密码错误");
                            }
                        })
                    }
                }
            ]
        });
    }

    function removePassword(path){
        mdui.dialog({
            title: '删除访问密码',
            content: `
                    <div class="">是否删除该路径访问密码，该路径及其所有子路径的访问密码都会被删除</div>
                `,
            buttons: [
                {
                    text: '取消'
                },
                {
                    text: '确认',
                    onClick: function(){
                        AJAX({
                            url: "removePassword",
                            method: AJAX_METHOD.POST,
                            json: {
                                path:path,
                            },
                            success: function (res){
                                let resJson = JSON.parse(res)
                                console.log(resJson)
                                if (resJson.code !== "1000") {
                                    mdui.alert(resJson.msg);
                                } else {
                                    // mdui.alert("密码移除成功", function () {
                                    //     refreshPage();
                                    // })
                                    refreshPage()
                                }
                            },
                            fail: function (){
                                mdui.alert("管理员密码错误");
                            }
                        })
                    }
                }
            ]
        });
    }

</script>
</html>
