<!doctype html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no"/>
    <meta name="renderer" content="webkit"/>
    <meta name="force-rendering" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

    <!-- MDUI CSS -->
    <link rel="stylesheet" href="./css/mdui.css"/>
    <title>Andex云盘</title>
</head>
<body>
<div class="mdui-appbar">
    <div class="mdui-toolbar mdui-color-theme">
        <a href="javascript:;" class="mdui-btn mdui-btn-icon">
        </a>
        <a href="javascript:;" class="mdui-typo-headline">Andex云盘</a>
        <a href="javascript:;" class="mdui-typo-title">欢迎光临!</a>
        <div class="mdui-toolbar-spacer"></div>
    </div>
</div>

<div class="mdui-container">

    <div class="mdui-card mdui-m-t-4">
        <div class="mdui-card-actions mdui-card-actions-stacked mdui-m-t-1 mdui-m-b-1">

            {{range $i, $navPath := .navPathList}}
                {{if not $navPath.Last}}
                    <div class="mdui-chip" onclick="gotoDir('{{$navPath.Path}}')">
                        <span class="mdui-chip-title">{{$navPath.Name}}</span>
                    </div>
                    <span>/</span>
                {{else}}
                    <div class="mdui-chip mdui-color-blue mdui-text-color-white"  onclick="gotoDir('{{$navPath.Path}}')">
                        <span class="mdui-chip-title">{{$navPath.Name}}</span>
                    </div>
                {{end}}
            {{end}}
        </div>
    </div>


    <div class="mdui-table-fluid mdui-m-t-2">
        <table class="mdui-table mdui-table-hoverable">
            <thead>
            <tr>
                <th>名称</th>
                <th>创建日期</th>
                <th>更新日期</th>
            </tr>
            </thead>
            <tbody>
            <!--
            <tr>
                <td>源码备份</td>
                <td>文件夹</td>
                <td>2020.03.02</td>
                <td>
                    <button class="mdui-btn">下载</button>
                </td>
            </tr>
            -->
            {{range $i, $detail := .pathDetail}}
                {{if eq $detail.Type "folder"}}
                    <tr data-href="{{$detail.Path}}" data-type="{{$detail.Type}}" onclick="gotoDir('{{$detail.Path}}')">
                        <td>
                            <i class="mdui-icon material-icons mdui-m-r-1">folder</i>
                            <span>
                                {{$detail.Name}}
                            </span>
                        </td>
                        <td style="width: 20%;">{{$detail.CreateTime}}</td>
                        <td style="width: 20%;">{{$detail.UpdateTime}}</td>
                    </tr>
                {{else}}
                    <tr data-href="{{$detail.Path}}" data-type="{{$detail.Type}}" onclick="">
                        <td>
                            <i class="mdui-icon material-icons mdui-m-r-1">insert_drive_file</i>
                            <span>
                                {{$detail.Name}}
                            </span>
                        </td>
                        <td>{{$detail.CreateTime}}</td>
                        <td>{{$detail.UpdateTime}}</td>
                    </tr>

                {{end}}
            {{end}}

            <tr></tr>

            </tbody>
        </table>
    </div>
</div>

<!-- MDUI JavaScript -->
<script type="javascript" src="./js/mdui.js"></script>
<script>

    function gotoDir(path) {
        if (path === null || path === undefined){
            return
        }
        console.log("goto path: " + path)
        if (path === "/"){
            window.location.href= window.location.origin
        } else {
            window.location.search =  "?p=" + path
        }
    }

</script>
</body>
</html>
