<!doctype html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no"/>
    <meta name="renderer" content="webkit"/>
    <meta name="force-rendering" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

    <link rel="stylesheet" href="./css/mdui.css"/>
    <style>
        .text-auto-wrap {
            word-break:normal;
            width:auto;
            display:block;
            /*white-space:pre-wrap;*/
            word-wrap : break-word ;
            overflow: hidden ;
            white-space:normal
            /*word-wrap:break-word*/
        }
    </style>
    <title>Andex云盘</title>
</head>
<body>
<div class="mdui-appbar">
    <div class="mdui-toolbar mdui-color-theme">
        <a href="javascript:;" class="mdui-btn mdui-btn-icon">
        </a>
        <a href="javascript:;" class="mdui-typo-headline">Andex云盘</a>
        <a href="javascript:;" class="mdui-typo-title">欢迎光临!</a>
        <div class="mdui-toolbar-spacer"></div>
    </div>
</div>

<div class="mdui-container">

    <div class="mdui-card mdui-m-t-4">
        <div class="mdui-card-actions mdui-card-actions-stacked mdui-m-t-1 mdui-m-b-1">

            {{range $i, $navPath := .navPathList}}
                {{if not $navPath.Last}}
                    <div class="mdui-chip" onclick="gotoDir('{{$navPath.Path}}')">
                        <span class="mdui-chip-title">{{$navPath.Name}}</span>
                    </div>
                    <span>/</span>
                {{else}}
                    <div class="mdui-chip mdui-color-blue mdui-text-color-white"  onclick="gotoDir('{{$navPath.Path}}')">
                        <span class="mdui-chip-title">{{$navPath.Name}}</span>
                    </div>
                {{end}}
            {{end}}
        </div>
    </div>


    <div class="mdui-table-fluid mdui-m-y-2 ">

        {{if .isMobil}}
            <table class="mdui-table mdui-table-hoverable">
                {{range $i, $detail := .pathDetail}}
                    <ul class="mdui-list mdui-list-dense"  onclick="gotoDir('{{$detail.Path}}')">
                        <li class="mdui-list-item mdui-ripple" >
                            <div class="mdui-list-item-avatar mdui-color-white mdui-text-color-blue">
                                {{if eq $detail.Type "folder"}}
                                    <i class="mdui-icon material-icons mdui-m-r-1" style="font-size: 35px">folder</i>
                                {{else}}
                                    <i class="mdui-icon material-icons mdui-m-r-1" style="font-size: 35px">
                                        insert_drive_file
                                    </i>
                                {{end}}
                            </div>
                            <div class="mdui-list-item-content">
                                <div class="mdui-list-item-title" style="font-size: 18px;">
                                    <span class="text-auto-wrap">
                                        {{$detail.Name}}
                                    </span>
                                </div>
                                <div class="mdui-list-item-text mdui-list-item-two-line" style="height: 16px;">
                                    {{if eq $detail.Type "folder"}}
                                        <span class="mdui-text-color-theme-text">{{$detail.UpdateTime}}</span>
                                    {{else}}
                                        <span class="mdui-text-color-theme-text">{{$detail.UpdateTime}} | {{$detail.Size}}</span>
                                    {{end}}
                                </div>
                            </div>
                        </li>
                    </ul>
                {{end}}
            </table>

        {{else}}
            <table class="mdui-table mdui-table-hoverable">
                <thead>
                <tr>
                    <th>名称</th>
                    <th class="table-col-create-time">创建</th>
                    <th class="table-col-update-time">更新</th>
                    <th>大小</th>
                </tr>
                </thead>
                <tbody>
                {{range $i, $detail := .pathDetail}}
                    {{if eq $detail.Type "folder"}}
                        <tr data-href="{{$detail.Path}}" data-type="{{$detail.Type}}" onclick="gotoDir('{{$detail.Path}}')">
                            <td>
                                <i class="mdui-icon material-icons mdui-m-r-1">folder</i>
                                <span>
                                    {{$detail.Name}}
                                </span>
                            </td>
                            <td class="table-col-create-time" style="width: 15%;">{{$detail.CreateTime}}</td>
                            <td class="table-col-update-time" style="width: 15%;">{{$detail.UpdateTime}}</td>
                            <td style="width: 5%;">{{$detail.Size}}</td>
                        </tr>
                    {{else}}
                        <tr data-href="{{$detail.Path}}" data-type="{{$detail.Type}}" onclick="gotoDir('{{$detail.Path}}')">
                            <td>
                                <i class="mdui-icon material-icons mdui-m-r-1">insert_drive_file</i>
                                <span>
                                    {{$detail.Name}}
                                </span>
                            </td>
                            <td class="table-col-create-time" style="width: 15%;">{{$detail.CreateTime}}</td>
                            <td class="table-col-update-time" style="width: 15%;">{{$detail.UpdateTime}}</td>
                            <td style="width: 5%;">{{$detail.Size}}</td>
                        </tr>
                    {{end}}
                {{end}}

                <tr></tr>

                </tbody>
            </table>
        {{end}}


    </div>
</div>

<script type="text/javascript" src="./js/mdui.js"></script>
<script type="text/javascript" src="./js/andex.js"></script>
<script>
    function hideTime(){
        let doms = document.getElementsByClassName("table-col-create-time");
        // doms.forEach(element => {
        //     dom.stytle.style.visibility="hidden"
        // });
        let table = document.getElementById("test")
        
    }

    let table = document.getElementById("test")
    function showTime(){

    }

</script>
</body>
</html>
